.row{
    width: 800px;
    height: 500px;
    background-color: darkturquoise;
    border: 1px solid black;
    display: flex;
    /* justify-content: flex-end;  horizontally*/
    /* justify-content: space-evenly; */
    /* justify-content: space-evenly; */
    /* align-items: flex-end; vertically */
    /* align-items: center; */
}
.col{
    width: 200px;
    height: 200px;
}
.col1{
    background-color: blueviolet;
}
.col2{
    background-color: brown;
   
}
.col3{
    background-color: chocolate;
    /* flex:1; to fill full */
    
}
